.container{
	width: 100%;
	height:500px;
	background:-webkit-radial-gradient(circle, #ff00bf, #352384);
	background-size: cover;
	background-repeat: no-repeat;
}
span{
	color:violet;
	font-weight: 600;
	font-size:30px;
}
.logo{
	width: 50%;
	height: 60px;
	margin-top: 165%;
	margin-left: 20px;
	}
.container-fluid{
	background-image: url(../img/auto.gif);
	height: 550px;
	background-size: cover;
	background-repeat: no-repeat;
}
.linea{
	width: 100%;
	height: 30px;
	margin-top: 10%;
	color: white;
	border: 1px solid white;
	animation-name: colorchange;
	animation-duration: 5s;
	background-color: #352384;
	-webkit-animation-duration:5s;
	-webkit-animation-name:colorchange;
}
@keyframes colorchange{
	from{width: 0px;}
	to{width: 100%;}
}
@-webkit-keyframes colorchange{
	from{width: 0px;}
	to{width: 100%;}
}
.logo-rosa{
	width: 50%;
	height: 50px;
	margin-top: 10%;
	margin-left: 10px;
}
.botones{
	margin-top: 110%;
}
.btn{
   width:100px; 
   padding: 10px 10px 10px 10px;
   color: #352384;
   background-color:#ff00bf;
   opacity: 0.8;
}